/* Обнуляем отступы и поля у body */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Основные стили для body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Стили для header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

/* Стили для заголовка */
header h1 {
    font-size: 36px;
    font-weight: bold;
}

/* Стили для секции с функциями */
.features {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    background-color: #fff;
}

.feature {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Стили для секции загрузки приложения */
.download {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 60px 0;
}

.download h2 {
    font-size: 24px;
}

.download p {
    font-size: 16px;
    margin: 20px 0;
}

.download a {
    display: inline-block;
    background-color: #ff5722;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
}

/* Стили для footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}
